#page_title{
border-left: 7px solid #66929f;
}

img {
width: 35%;
height: 35%;
margin: 7% 35%; /*pour center l'img*/
}

#button_co {
margin-left: 38%; /*pour center le bouton*/
}

#button_co input{
background-color: red; /*pour center le bouton*/
color: #E66A52;
}

a:link, a:visited {color: #e76952;}
